---
layout: page
description: "Frontend/Backend + UX/UI + Hybrid Apps + Android Developer"
---

<div class="col-md-12">
  {% for post in paginator.posts reversed %}
  <div class="post-preview col-md-6">
      <a href="{{ post.url | prepend: site.baseurl }}">
          <h2 class="post-title">{{ post.title }}
          </h2>
          {% if post.subtitle %}
          <h3 class="post-subtitle">
              {{ post.subtitle }}
          </h3>
          {% endif %}
      </a>
      <p class="post-meta">por {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} el {{ post.date | date: "%F" }}</p>
      <img src='{{ post.header-img}}' class="img-responsive" alt="" />
  </div>
  {% endfor %}
  <hr>
  <!-- Pager -->
  {% if paginator.total_pages > 1 %}
  <ul class="pager">
      {% if paginator.previous_page %}
      <li class="previous">
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Recientes</a>
      </li>
      {% endif %}
      {% if paginator.next_page %}
      <li class="next">
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Anteriores &rarr;</a>
      </li>
      {% endif %}
  </ul>
  {% endif %}
</div>
